

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  /* background-color: rgba(13, 109, 253, 0.582); */
  /* background:rgba(13, 109, 253, 0.667); */
  /* color: rgb(37, 32, 32); */
}

.App {
  text-align: center;
  min-height: 100vh;
  position: relative;
  color: rgba(0, 128, 128, 0.363) ;
}

.log_container{
  display:grid;
  place-items:center;
  width:100%;
  min-height:90vh;
}

.navbar_container {
  width: 100vw;
  height: 6vh !important;
  position: fixed;
  z-index: 10;
  /* border: 2px solid red; */
  bottom: 0;
  /* background-color: rgb(13, 110, 253); */
  background-color: whitesmoke;
  box-shadow: 0 0 2px grey;

}

.navbar_container ul {
  width: 100%;
  height: 100%;
  /* padding: 0 5% !important; */
  /* max-width: 500px; */
  gap: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 !important;
}

.navlink {
  width: 20%;
  height: 46px;
  padding: 0;
  display: grid;
  place-items: center;
  /* margin-top: 3px; */
}
.navlink svg {
  height: 50%;
  /* padding: 4px; */
  margin-top: 4px;
  border-radius: 50%;
  /* border: 2px solid white; */
  /* stroke: white; */
  stroke: rgb(13, 110, 253);
}
.navlink:hover{
  /* background-color: white; */
  background-color: rgb(13, 110, 253);
  /* color: rgb(32, 30, 30); */
}
.navlink svg:hover{
  /* stroke: rgb(13, 110, 253); */
  stroke: white;
}
.navlink:hover svg {
  stroke: white;

}


.portfolio_row_1{
  height: 60vh;
}

@media only screen and (min-width: 500px) {

.log_container{
  min-height: 100vh;
}

  .navbar_container {
    /* right: 0; */
    /* transform: rotateZ(90deg); */
    /* transform-origin: right; */
    /* width: 70vh !important; */
    width: 70vw !important;
    border-radius: 40px;
    padding: 6px 0;
    height: 8vh !important;
    right: 15vw;
    /* top: 80%; */
    bottom: 3vh;
    background-color: rgba(13, 109, 253, 0.247);
  }

  .navbar_container ul {
    align-items: center;
    max-width: 300px;
    gap: 8px;
    margin: auto !important;
    justify-content: center !important;
  }

  .navlink {
    padding: 10px;
    /* border: 1px solid rgb(13, 110, 253); */

    background: rgba(13, 109, 253, 0.621);
    padding: 2px;
    width: 36px !important;
    height: 36px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: .2s ease;
  }

  .navlink svg {
    /* border: 1px solid rgb(13, 110, 253); */
    /* border: 1px solid white; */
    stroke: white;
    padding: 1px;
    margin: 0;
    transition: .1s ease;
    /* transform: rotateZ(-90deg); */
  }
  .navlink:hover {
    border: 1px solid rgb(13, 110, 253);
    background: white;
    stroke: rgb(13, 110, 253);
  }
  .navlink:hover svg{
    background: white;
    stroke: rgb(13, 110, 253);
  }
  .navlink svg:hover {
    stroke: rgb(13, 110, 253);

  }
}