.addBtnLogo{
    width: 40px;
    stroke: orangered;
    stroke-width: 2px;
    cursor: pointer;
    border:1px solid red;
    transition: 0.2s ease;
}

.addBtnLogo:hover{
    stroke: white;
    background-color: orangered;

}